<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/18419c2e-c6f6-4414-9f23-e7e6666e1487/resourcegroups/JugadPay-RG/providers/Microsoft.Web/sites/JugadPayInternal</ResourceId>
    <ResourceGroup>JugadPay-RG</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://jugadpayinternal.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>jugadpayinternal.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>JugadPayInternal</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$JugadPayInternal</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="CornoContext" Order="1" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="Corno.Raychem.CustomerPortal.Areas.Admin.Models.ApplicationDbContext, Corno.Raychem.CustomerPortal" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="Corno.Data.Login.ApplicationDbContext" Order="2" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="Corno.Data.Login.ApplicationDbContext, Corno.Data" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="Corno.Data.Context.BaseContext" Order="3" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="Corno.Data.Context.BaseContext, Corno.Data" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="Corno.Data.Context.CornoContext" Order="4" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="Corno.Data.Context.CornoContext, Corno.Data" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)Corno.Data.Context.BaseContext-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)Corno.Data.Context.CornoContext-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)Corno.Data.Login.ApplicationDbContext-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)CornoContext-Web.config Connection String" />
  </ItemGroup>
  <ItemGroup>
    <_ConnectionStringsToInsert Include="Corno.Data.Context.BaseContext" />
    <_ConnectionStringsToInsert Include="Corno.Data.Context.CornoContext" />
    <_ConnectionStringsToInsert Include="Corno.Data.Login.ApplicationDbContext" />
  </ItemGroup>
</Project>